:root{
    background-color: #F5F4F0;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0%;
    color: #333333;
}

#box{
    width: 1120px;
    box-sizing: border-box;
    margin: 88px auto;
}

h1, h2, h3{
    color: #1B1B1B;
}

h1{
    font-size: 36px;
    font-weight: bold;
    margin: 8px 0 40px;
}

.redline{
    text-transform: uppercase;
    color: #E1624F;
    font-weight: bold;
}

img {
    border-radius: 28px;
    width: 100%;
    margin-bottom: 20px;
}


p{
    font-size: 16px;
}

ol{
    list-style-type: none;
    padding: 0;
}

ul {
    list-style-type: disc;
}

#description{
    display: block;
    margin: 4px 0px 14px;
    text-align: center;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 40px 0 40px;
    background-color: #d9d9d9;
}

h2{
    font-size: 32px;
    margin: 2px 0px 8px;
}

h2 + p {
    margin: 0px 0px 8px;
}

li > img {
    margin-top: 48px;
}

h3{
    padding-left: 15px;
    font-size: 28px;
    margin: 0px;
}

.bom-para{
    font-weight: bold;
}

.purple {
    color: #591B98;
}

.pink {
    color: #E5245E;
}

.orange {
    color: #E95E10;
}

.blue {
    color: #0C51A7;
}

#places p {
    margin: 4px 0px 0px;
}

#considerations {
    text-align: center;
    margin: 0px 0px 87px;
}

footer{
    text-align: center;
}
footer img{
    vertical-align: middle;
    width: 20px;
    margin-bottom: 0px;
}